.service-list-box{
	list-style: none !important;
	width: 350px;
	float: left;
	color: white !important;
	text-decoration:none;
}
.service-list{
	padding-top: 20px;
}
.service-item{
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}
.service-item:hover{
	color: black;
}
.service-sub-item{
	color: white;
}
.service-sub-item:hover{
	color: black;
}


ul, ol{
	list-style: none;

}

p{
	text-align: justify;
}
.content{
	background-image:url(../img/services-landing-hero.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;

}
.content-body{
	padding: 50px 10px 50px 10px;
	max-width: 860px;
	color: white;
}
